@font-face {
	font-family: bold;
	src: url(f/l.otf)
}

@font-face {
	font-family: logo;
	src: url(f/b.otf)
}

@font-face {
	font-family: def;
	src: url(f/Roboto-Light.ttf);
}

* {
	font-family: def, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
	margin: 0px;
	overflow: hidden;
	background: black;
}

#slide {
	position: relative;
	overflow: hidden;
	bottom: 0px;
	transition: bottom 0.7s ease;
}

header {
	line-height: 100px;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 2;
	background: linear-gradient(0deg, transparent, rgba(0,0,0,0.7));
	transition: height 0.4s ease 0.3s;
}

	header.o {
		background: #000;
		padding-bottom: 0px;
		transition: all 0.3s ease;
	}

#t {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 40px;
	color: #FFF;
	text-indent: 48px;
	font-family: logo;
}

#buttons {
	position: absolute;
	right: 30px;
	top: 0px;
	font-size: 18px;
}

#mail {
	display: inline-block;
	background-image: url(mail.svg);
	background-position: left;
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 25px;
}

#git {
	display: inline-block;
	background-image: url(github.svg);
	width: 60px;
	margin-left: 10px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

	#git:after {
		content: "";
		height: 40px;
		border-right: 2px solid #FFF;
	}

a {
	text-decoration: none !important;
	color: #FFF;
}

section {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.t {
	font-family: bold;
	color: #FFF;
	font-size: 20px;
	position: relative;
	text-align: right;
	background: rgba(0,0,0,0.8);
	line-height: 70px;
	padding-right: 38px;
	box-sizing: border-box;
	padding-top: 100px;
}

#home {
	background-image: url(i/sun.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

#TSS {
	background-image: url(i/TSS.png)
}

#wach {
	background-image: url(i/wach.png)
}

#pool {
	background: #000;
	background: -webkit-linear-gradient(#000,#050908);
	background: -o-linear-gradient(#000,#050908);
	background: -moz-linear-gradient(#000,#050908);
	background: linear-gradient(#000,#050908);
}

#pool-cam {
	border-radius: 5px;
	max-width: 100%;
	width: 480px;
	max-width: 90%;
	max-width: calc(100% - 40px);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.date {
	color: #777;
	font-style: italic;
	text-align: right;
	font-size: 15px;
	margin-bottom: 10px;
}

#note {
	font-size: 12px;
}

#chalky {
	background-image: url(i/board.png);
}

#math {
	background-image: url(i/math.png);
	background-position: center 70px;
}

#sand {
	background-image: url(i/sand.png);
}

#mut8 {
	background-image: url(i/mut8.png);
}

.url {
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	line-height: 70px;
	background-image: url(link.svg);
	background-position: 30px center;
	background-size: 20px;
	background-repeat: no-repeat;
	font-size: 18px;
	text-indent: 67px;
}

.i {
	max-height: calc(100% - 70px);
	box-sizing: border-box;
	width: 400px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 20px auto;
	color: #FFF;
	padding: 20px 30px 30px 30px;
	background: rgba(20,20,20,0.96);
	transition: margin-bottom ease 0.3s, width ease 0.3s;
	overflow-x: hidden;
}

.sh {
	background: rgba(0,0,0,0.9);
	color: #FFF;
	line-height: 70px;
	width: 100%;
	text-align: center;
	display: inline-block;
}

#goc {
	position: absolute;
	width: 200px;
	right: 0px;
	left: 0px;
	bottom: -10px;
	margin: auto;
	text-align: center;
	transition: opacity 0.4s ease, bottom 0.4s ease;
	opacity: 0;
	z-index: 4;
	line-height: 0px;
}

	#goc.o {
		opacity: 1;
		bottom: -20px;
		transition: opacity 0.4s ease 0.3s, bottom 0.4s ease 0.3s;
	}

#proj, #god, #gou {
	cursor: pointer;
}

#god, #gou {
	box-sizing: border-box;
	width: 50px;
	background: rgba(0,0,0,0.5);
	border: 10px solid rgba(0,0,0,0);
	border-radius: 50%;
	transition: background 0.2s ease;
	margin: 0px 7px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

	#god:hover, #gou:hover {
		background: rgba(0,0,0,0.3);
	}

#gou {
	transform: rotate(180deg);
	box-shadow: 0px -3px 6px rgba(0,0,0,0.2);
}

div#pop {
	bottom: 0px;
	right: 0px;
	left: 0px;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	text-align: center;
	padding: 30px 40px;
}

div#proj {
	display: inline-block;
	position: absolute;
	margin-left: 40px;
	line-height: 60px;
	height: 60px;
	color: white;
	font-size: 20px;
	padding-right: 30px;
	background-image: url(more.svg);
	background-position: right;
	background-repeat: no-repeat;
	opacity: 1;
	transition-property: opacity, height;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	overflow: hidden;
}

	div#proj.o {
		opacity: 0;
		height: 0px;
	}

	div#proj:after {
		content: "";
		display: block;
		width: 100%;
		border-bottom: 2px solid white;
		position: absolute;
		bottom: 0px;
	}


@media (max-width: 440px) {
	.i {
		width: 100%;
		margin-bottom: 0px;
	}
	#t {
		opacity: 0;
	}
}
